<!DOCTYPE html>
<html lang="en" ng-app='quizApp'>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Family Quiz App | AngularJS</title>
    <!--<link rel="stylesheet" href="./css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">

    <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
  </head>
  <body>
	<div class="container">
		<div class="page-header">
			<h1><strong>COMPANY HEIRARCHY QUIZ</strong></h1>
            <h3>A Simple Quiz App using the power of AngularJS</h3>
        </div>
		<div ng-controller="listCtrl as list" ng-hide="list.quizMetrics.quizActive">
			<form class="form-inline well well-sm clearfix">
				<input type"text" placeholder="Search" class="form-control" ng-model="list.search">
				<i class="fa fa-search" aria-hidden="true"></i>
				<button class="btn btn-warning pull-right" ng-click="list.activateQuiz()">
					<strong>Start Quiz</strong>
				</button>

			</form>
			<div class="row">
				<div class="col-sm-6" ng-repeat="emp in list.data | filter:list.search">
					<div class="well well-sm">
						<div class="row">
							<div class="col-md-6">
								<div ng-if="emp.gender == 'Male'">
									<i class="fa fa-male fa-5x icon-center" aria-hidden="true"></i>
								</div>
								<div ng-if="emp.gender == 'Female'">
									<i class="fa fa-female fa-5x icon-center" aria-hidden="true"></i>
								</div>

							</div>
							<div class="col-md-6">
								<h4>{{ emp.position }}</h4>
								<p><strong>Name:</strong>{{ emp.name }}</p>
								<p><strong>Team:</strong>{{ emp.team }}</p>
								<p><strong>Age:</strong>{{ emp.age}}</p>
								<button class="btn btn-primary pull-right"
									data-toggle="modal"
									data-target="#emp-info"
									ng-click="list.changeActiveEmp(emp)">Learn More</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			  <div class="modal" id="emp-info">
				<div class="modal-dialog">
				  <div class="modal-content">
					<div class="modal-header">
							<h2>{{ list.activeEmp.position }}</h2>   
					</div>
					<div class="modal-body">
						<div class="row">
							<div ng-if="list.activeEmp.gender == 'Male'">
								<i class="fa fa-male fa-5x icon-modal-center" aria-hidden="true"></i>
							</div>
							<div ng-if="list.activeEmp.gender == 'Female'">
								<i class="fa fa-female fa-5x icon-modal-center" aria-hidden="true"></i>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<p><strong>Name:</strong>{{ list.activeEmp.name }}</p>
								<p><strong>Team:</strong>{{ list.activeEmp.team }}</p>
								<p><strong>Age:</strong>{{ list.activeEmp.age}}</p>
							</div>
						</div>
					</div>
					<div class="modal-footer">
					  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
					</div>
				  </div>
				</div>
          </div>
        </div> <!-- List Controller -->
        <div ng-controller="quizCtrl as quiz" ng-show="quiz.quizMetrics.quizActive">
            <div class="row">
                <div class="col-xs-8">
                    <h2>Progress:</h2>
                    <div class="btn-toolbar">
                        <button 
                            class="btn" 
                            ng-repeat="question in quiz.dataService.quizQuestions"
                            ng-class="{'btn-info': question.selected !== null, 'btn-danger': question.selected === null}"
                            ng-click="quiz.setActiveQuestion($index)"
                        >
                        <i 
                            ng-class="{'fa fa-pencil': question.selected !== null, 'fa fa-question-circle': question.selected === null}" 
                        aria-hidden="true"
                        ></i>
                        </button>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="row">
                        <h4>Legend:</h4>
                        <div class="col-sm-4">
                            <button class="btn btn-info">
								<i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>
                            <p>Answered</p>
                        </div>
                        <div class="col-sm-4">
                            <button class="btn btn-danger">
								<i class="fa fa-question-circle" aria-hidden="true"></i>
                            </button>
                            <p>Unanswered</p>
                        </div>

                    </div>
                </div>
            </div> <!-- Progress Area -->

            <div class="row">
                <div class="alert alert-danger" ng-show="quiz.error">
                    Error! You have not answered all of the questions!
                    <button class="close" ng-click="quiz.error = false">&times</button>
                </div>
                <h3>Question:</h3>
                <div class="well well-sm" ng-hide="quiz.finalize">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>{{ quiz.activeQuestion + 1 + ". " + quiz.dataService.quizQuestions[quiz.activeQuestion].text }}</h4>
                            <div class="row" ng-if="quiz.dataService.quizQuestions[quiz.activeQuestion].type === 'text'">
                                <div class="col-sm-6" ng-repeat="answer in quiz.dataService.quizQuestions[quiz.activeQuestion].possibilities">
                                    <h4 class="answer" ng-class="{'bg-info': $index === quiz.dataService.quizQuestions[quiz.activeQuestion].selected}" ng-click="quiz.selectAnswer($index)">
                                        {{ answer.answer }}
                                    </h4>
                                </div>
                            </div>
                            <div class="row" ng-if="quiz.dataService.quizQuestions[quiz.activeQuestion].type === 'image'">
                                <div class="col-sm-6" ng-repeat="answer in quiz.dataService.quizQuestions[quiz.activeQuestion].possibilities">
                                    <div class="image-answer" ng-class="{'image-selected': $index === quiz.dataService.quizQuestions[quiz.activeQuestion].selected}" ng-click="quiz.selectAnswer($index)">
                                        <img ng-src="{{ answer.answer }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-warning" ng-click="quiz.questionAnswered()">Continue</button>
                </div>
                <div class="well well-sm" ng-show="quiz.finalize">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3>Are you sure you want to submit your answers?</h3>
                            <button class="btn btn-success" ng-click="quiz.finalizeAnswers">Yes</button>
                            <button class="btn btn-danger" ng-click="quiz.finalize = false">No</button>
                        </div>
                    </div>


                </div>


            </div>

        </div> <!-- Quiz Controller --> 
	</div><!-- container -->

	<! -- Angular CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js'></script>

	<!-- Angular App scripts -->
	<script src='./js/app.js'></script>
	<script src='./js/controllers/list.js'></script>
	<script src='./js/controllers/quiz.js'></script>
	<script src='./js/factories/quizMetrics.js'></script>
	<script src='./js/factories/dataService.js'></script>
  </body>
</html>
